# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
*.swp
*.swo
*~

# Project specific
test-manifests.txt
img/*
log/*
*.log
temp/*
src/iiif_download/tests/temp/*

# Build
dist/*
build/*
*.egg-info/*
src/iiif_download.egg-info/*

.DS_Store
